*{
	margin: 0;
	padding: 0;
	border:none;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}
@font-face {
    font-family: "Montserrar Regular";
    src: url(fonts/Montserrat/Montserrat-Regular.woff);
}
@font-face {
    font-family: "Montserrar Bold";
    src: url(fonts/Montserrat/Montserrat-Bold.woff);
}
@font-face {
    font-family: "Playfair Display Italic";
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff);
}
@font-face {
    font-family: "Roboto Slab Regular";
    src: url(fonts/RobotoSlab/RobotoSlab-Regular.woff);
}
p{
	font-family: "Roboto Slab Regular";
	color: #777;
}
h1{
	font-family: "Montserrar Bold";
	color: #222;
}
h2, h3, h4{
	font-family: "Montserrar Bold";
	color:#333;
}
.wrapper{
	padding: 118px 13%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.one-third{
	flex-basis: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin:0 auto;
}
.one-third h2{
	font-size: 18px;
	margin: 10px 0;
	font-family: "Montserrar Bold";
}
.one-third p{
	font-size: 14px;
}
.empty{
	padding: 5px;
}
section{
	width: 100%;
}
/* Menu */
nav{
	padding: 0 13%;
	position: fixed;
	display: flex;
	height: 110px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 10;
	text-transform: uppercase;
	transition: 0.5s;
}
.sticky-nav{
	height: 60px;
	background-color: #111;
	transition: 0.5s;
}
.burger {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}
.burger span{
	border: 2px solid #fff;
	margin: 5px 0;
	border-radius: 15px;
	width: 30px;
	display: block;
}
.main-nav li{
	display: inline;
}
.main-nav li a{
	font-family: "Montserrar Regular";
	margin: 0 21px;
	color: #fff;
	font-size: 14px;
}
.main-nav li a:hover{
	color: #fed136;
	text-decoration: underline;
}
/* End of menu */
/* Header */
header{
	height: 100vh;
	width: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(img/header.jpg) no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}
header h1{
	font-family: "Montserrar Bold";
	font-size: 58px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 3%;
}
header h2{
	font-family: "Playfair Display Italic";
	font-size: 35px;
	font-weight: 400;
	color: #fff;
	margin-top: 3%;
}
header a{
	font-family: "Montserrar Bold";
	font-size: 18px;
	margin-top: 3%;
	padding: 15px 40px;
	background-color: #fed136;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
}
header a:hover{
	background-color: #fff;
	color: #fed136;
}
/* End of header */
/* Services section */
.title {
	text-align: center;
	margin-bottom: 60px;
}
.title h1{
	font-family: "Montserrar Bold";
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 10px;
}
.title p{
	font-family: "Playfair Display Italic";
}
.services{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.services .one-third{
	padding: 0 10px;
}
.icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border:3px solid #fed136;
}
/* End of services section */
/* Portfolio section */
#portfolio{
	background-color: #f7f7f7;
}
.portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio .one-third{
	background-color: #fff;
	margin-bottom: 50px;
}
.portfolio img {
	height: 300px;
	width: 100%;
	object-fit: cover;
}
.portfolio .caption{
	margin:20px 0;
}
.portfolio .caption h2{
	margin:0;
	font-size: 18px;
}
.portfolio .caption p{
	font-family: "Playfair Display Italic";
}
/* End of portfolio section */
/*About section*/
.about .line{
	height: 700px;
	border:1px solid #f1f1f1;
	left: 50%;
	position: absolute;
	margin: auto;
	z-index: -1;
	margin-top: 40px;
}
.about{
	width: 100%;
}
.about .row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	flex-wrap: wrap;
}
.about .one-third{
	flex-basis: 32%;
}

.about .text-right{
	align-items: flex-end;
	justify-content: center;
	text-align: right;
}
.about .text-left{
	align-items: flex-start;
	justify-content: center;
	text-align: left;
}
.about h3{
	margin-bottom: 5px;
	text-transform: uppercase;
}
.about h4{
	margin-bottom: 10px;
	text-transform: capitalize;
}
.about img, .about .last-item{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
	border: 7px solid  #f1f1f1;
}
.about .last-item{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #fed136;
}
.about .last-item h3{
	color: #fff;
}
/* End of about section */
/* Team section */
#team{
	width: 100%;
	background-color: #f7f7f7;
}
#team .text{
	width: 100%;
	padding: 0 100px;
	text-align: center;
	line-height: 30px;
}
.team{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
	text-align: center;
}
.team .one-third{
	flex-basis: 32%;
	margin-bottom: 20px;
}
.team img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	border-radius: 50%;
	margin:20px;
}
.team .caption p{
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
}
.team .social li{
	display: inline-block;
	margin: 0 5px;
	
}
.team .social a{
	display: inline-block;
	line-height: 20px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border:2px solid #222;
	color: #222;
	padding: 5px;
}
.team .social a:hover{
	border:2px solid #fed136;
	color: #fed136;
	padding: 5px;
}
/* End of team section */
/* Sponsor section */
#sponsors .wrapper{
	padding-top: 70px;
	padding-bottom: 70px;
}
.sponsors{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.sponsors img{
	margin: 20px 20px;
}
/* End of sponsor section */
/* Contact section */
#contact{
	background-color: #222;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#contact h1{
	color: #fff;
}
#contact .map{
	position: absolute;
	z-index: -1;
	top: 20%;
	left: 60%;
	opacity: 0.4;
}
#contact form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
}
#contact form div{
	flex-basis: 49%;
}
#contact .info{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#contact .info input{
	border-radius: 5px;
	padding: 15px;
	width: 100%;
	font-family: "Montserrar Bold";
}
#contact .info input::placeholder {
	text-transform: uppercase;
	color: #999;
}
#contact .message textarea{
	padding: 15px;
	border-radius: 5px;
	resize: none;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-family: "Montserrar Bold";
	font-weight: 400;
}
#contact .message textarea::placeholder {
	text-transform: uppercase;
	color: #999;
}
#contact button{
	background-color: #fed136;
	color: #fff;
	padding: 15px 30px;
	border-radius: 5px;
	margin: 40px 0;
	font-size: 18px;
	font-family: "Montserrar Bold";
	cursor: pointer;
}
#contact button:hover{
	background-color: #fff;
	color: #fed136;
}
/* End of contact section */
/*Footer */
footer{
	width: 100%;
}
footer .wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	padding: 20px 13%;
	width: 100%;
}
footer .text{
	align-items: flex-start;
	text-align: left;
	color: red;
}
footer .social li{
	display: inline-block;
	margin: 0 2px;
}
footer .social a{
	display: inline-block;
	line-height: 23px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #222;
	border:2px solid #222;
	color: #fff;
	padding: 5px;
}
footer .social a:hover{
	background-color: #fed136;
	border:2px solid #fed136;
	color: #fff;
	padding: 5px;
}
/* Small Devices, Tablets */
@media screen and (max-width : 1000px) {
	header h1{
		font-size: 45px;
	}
	header h2{
		font-size: 30px;
	}
	.wrapper{
		padding: 90px 4%;
	}
	nav{
		padding: 0 4%;
		height: 60px;
		background-color: #111;
		transition: 0.5s;
	}
	.burger{
		display: inline-block;
		margin-left: auto;
	}
	.main-nav{
		display: none;
	}

	.main-nav{
		
		width: 100%;
		display: block;
		text-align: center;
		background-color: #111;
		visibility: hidden;
		overflow: hidden;
		max-height: 0;
		transition: 0.5s; 
		position: absolute;
		top: 100%;
		left: 0;
	}
	.show{
		max-height: 1000px;
		visibility: visible;
	}
	.main-nav li{
		background-color: #111;
		border-top: 1px solid black;
		width: 100%;
	}
	.main-nav li a{
		border-top: 1px solid #fff;
		margin:0 auto;
		padding: 20px 0;
		display: block;
		height: 100%;
		width: 100%;
	}
	.about img, .about .last-item{
		height: 250px;
		width: 250px;
		border-radius: 50%;
		object-fit: cover;
		border: 7px solid  #f1f1f1;
	}


}
/* Small Devices, Tablets */
@media screen and (max-width : 768px) {
	header h1{
		font-size: 40px;
	}
	header h2{
		font-size: 25px;
	}
	
	.one-third{
		flex-basis: 49%;
	}
	.empty, .line{
		display: none;
	}
	#contact form div{
		flex-basis: 100%;
	}
			#contact .message textarea{
	margin-top: 20px;
}
}
/* Extra Small Devices, Phones */ 
@media screen and (max-width : 505px) {
	header h1{
		font-size: 35px;
	}
	header h2{
		font-size: 20px;
	}
	.one-third{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.about .row{
		flex-direction: column;
	}
	.about .reverse{
		flex-direction: column-reverse;
	}
	.about h3{
		margin-top: 10px;
	}
	.about h4{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.about .text-right, .about .text-left{
		align-items: center;
		text-align: center;
	}
	#team .text{
		padding: 0 20px;
	}
	.sponsors{
		flex-direction: column;
	}
	#contact .map{
		top: 20%;
		left: 40%;
	}
	#contact button{
		width: 100%;
	}
	footer .wrapper{
		align-items: center;
		flex-direction: column-reverse;
		margin-top: 20px;
	}
}
